h1 {
    color: green;
}

h1 , h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

div {
    line-height: 25px;
}

a {
    text-decoration: none;
} 

.change {
    text-transform: uppercase;
}